
<script type="text/javascript">
    <!--
    window.onload = function () {
      var divs = document.getElementsByTagName("div");
      for (var i = 0; i < divs.length; i++) {
        divs[i].style.overflow = divs[i].className == "vc" ? "auto" : "";
      }
    }
    // -->
  </script>

<mat-spinner style="margin-left: auto;margin-right: auto" *ngIf="sel==false" ></mat-spinner>
<div  style="background: white">

  <div *ngIf="sel==true"  style="margin-right: 20px;margin-left: 20px;background: white">

  <div id="cercle" style="cursor: pointer;position: fixed;bottom: 30px;right: 20px;width: 80px;
  height: 80px;
  border-radius: 40px;
  background: #0ab94b;">
    <i (click)="export()"  style="margin-left: 15px;margin-top: 10px;color: white "  class="fas fa-download fa-4x center"></i>

  </div>

  <div style="text-align: center">
    <h1 style="color: black">Audit</h1>
  </div>
  <table  class="section-table">
    <tr>
      <td colspan="3">
        <h1 style="color: black" class="allcaps">Audit Details</h1>
      </td>
    </tr>
    <tr>
      <td class="board">
        <table id="dashboard-table">
          <tr>
            <td>
              <div class="tdhead">
                title
              </div>
            </td>
            <td class="td-right">
								{{audit.title}}
            </td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                level
              </div>
            </td>
            <td class="td-right">
              {{audit.level}}
            </td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                client name
              </div>
            </td>
            <td class="td-right">
              {{audit.Client_Name}}
            </td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                MSTG VERSION
              </div>
            </td>
            <td class="td-right">{{audit.MSTG_VERSION}}</td>

          </tr>
          <tr>
            <td>
              <div class="tdhead">
                ONLINE MSTG VERSION
              </div>
            </td>
            <td class="td-right">
								<span class="dashboard-url">
									<a [href]="audit.ONLINE_MSTG_VERSION" >{{audit.ONLINE_MSTG_VERSION}}</a>
								</span>
            </td>          </tr>
          <tr>
            <td>
              <div class="tdhead">
                MASVS VERSION
              </div>
            </td>
            <td class="td-right">{{audit.MASVS_VERSION}}</td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                ONLINE MASVS VERSION
              </div>
            </td>
            <td class="td-right">
								<span class="dashboard-url">
									<a [href]="audit.ONLINE_MASVS_VERSION" >{{audit.ONLINE_MASVS_VERSION}}</a>
								</span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                Email of Tester:
              </div>
            </td>
            <td class="td-right">{{audit.Name_Of_Tester}}</td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                Application name
              </div>
            </td>
            <td class="td-right">{{audit.Application_Name}}</td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                Start Date
              </div>
            </td>
            <td class="td-right">{{audit.Start_Date}}</td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                Closing Date
              </div>
            </td>
            <td class="td-right">{{audit.Closing_Date}}</td>
          </tr>
          <tr>
          <td>
            <div class="tdhead">
              Testing Scope
            </div>
          </td>
          <td class="td-right">{{audit.Testing_Scope}}</td>
        </tr>
          <tr>
            <td>
              <div class="tdhead">
                Filename
              </div>
            </td>
            <td class="td-right">{{audit.Filename}}</td>
          </tr>
          <tr>
            <td>
              <div class="tdhead">
                Google PlayStore Link
              </div>
            </td>
            <td class="td-right">{{audit.Google_PlayStore_Link}}</td>
          </tr>
          <tr>
          <td>
            <div class="tdhead">
              Version
            </div>
          </td>
          <td class="td-right">{{audit.Version}}</td>
        </tr>
          <tr>
            <td>
              <div class="tdhead">
                SHA256 HASH OF APK
              </div>
            </td>
            <td class="td-right">{{audit.SHA256_HASH_OF_APK}}</td>
          </tr>
        </table>
      </td>


    </tr>
  </table>
</div>

<div   >
  <div *ngIf="cvss.length>0" id="chartContainer" style="width:640px; height: 400px;margin-right: auto;margin-left: auto;margin-bottom: 20px;background:white"></div>
</div>
<div *ngIf="sel==true"  style="margin-left: 20px;margin-right:20px;background: white">

  <table *ngIf="cvss.length>0" class="section-table">
    <tr>
      <td colspan="3">
        <h1 class="allcaps" style="page-break-before: always;color: black">Vulnerability Summary</h1>
      </td>
    </tr>
    <tr>
      <td>
        <table class="summary-table">
          <col style="width:10%">
          <col style="width:20%">
          <col style="width:70%">


          <tr>
            <th>id</th>
            <th>title</th>
            <th width="70%">Systems</th>

          </tr>
          <tr *ngFor="let screen of screenshot">
            <td >MSTG-{{screen._id.family_name}}-{{screen._id.requ_rank}}</td>
            <td><a [href]="'#'+screen._id.title">{{screen._id.title}}</a></td>
            <td width="70%">{{screen._id.systems}}</td>

          </tr>

        </table>
      </td>
    </tr>
  </table>

  <div *ngFor="let screen of screenshot" class="vulndesc" style="margin-bottom: 50px;">
    <h1  [id]="screen._id.title" class="allcaps" style="page-break-before: always;color: black;margin-bottom: 20px">MSTG-{{screen._id.family_name}}-{{screen._id.requ_rank}}:{{screen._id.title}}</h1>


    <div style="margin-bottom: 10px;margin-top: 10px">
      <h4>description</h4><div>{{screen._id.description}}</div>

    </div>
    <div style="margin-bottom: 10px">    <h4>CVSS</h4><div>{{screen._id.cvss}}</div>
    </div >
    <div style="margin-bottom: 10px" *ngIf="screen._id.risk!=''">    <h4>Risk</h4><div>{{screen._id.risk}}</div>
    </div>
    <div style="margin-bottom: 10px" *ngIf="screen._id.remedation!==''">    <h4>Remedy</h4><div><p style="color: black">{{screen._id.remedation}}</p></div>
    </div>
    <div style="margin-bottom: 10px" *ngIf="screen._id.references!=''">
      <div >
        <h4>Reference </h4>
        <div><ul><li style="color: black" *ngFor="let ref of screen._id.references;let i=index"><a >{{ref}}</a></li>
        </ul>
        </div>
      </div>
    </div>

      <div style="margin-bottom: 10px" *ngIf="screen._id.tools!=''" >
        <h4>Tool </h4>
        <div><ul><li style="color: black" *ngFor="let tool of screen._id.tools;let i=index"><a >{{tool}}</a></li>
        </ul>
        </div>
      </div>

      <div style="margin-bottom: 10px" *ngIf="screen._id.systems!=''" >
        <h4>system </h4>
        <div><ul><li style="color: black" *ngFor="let sys of screen._id.systems;let i=index"><a >{{sys}}</a></li>
        </ul>
        </div>
      </div>


    <div *ngIf="screen._id.screenshot">
      <h4 style="margin-bottom: 10px">Evidence</h4>
      <img  style="width:60%;height: 40%" [src]="baseUrl+screen._id.screenshot">
    </div>
  </div>
</div>
  <div *ngIf="sel==true" style="text-align: center;margin-bottom: 20px">
    <h2  style="color: black">MASVS Compliance Score ( / 5): {{score[0].Score }}</h2>
  </div>

  <h1 style="color: black;margin-bottom: 20px;margin-left: 20px" >masvs compliance diagram
  </h1>
  <div id="chartContainer2" style="width:640px; height: 400px;margin-bottom: 30px;margin-top: 20px;margin-left: 20px"></div>
<div style="margin-right: 20px;margin-left: 20px;margin-bottom: 20px">
  <h1 style="margin-right: auto;margin-left: auto;color: black;margin-bottom: 20px" >Masvs Compliance Table
  </h1>
  <table style="margin-top: 20px" id="table" class="table">
    <thead style="background-color: #d1d1c7;color: white" class="thead-dark">
    <tr>
      <th style="color: white" width="33%"></th>
      <th style="color: white">P</th>
      <th style="color: white">F</th>
      <th style="color: white">N/A</th>
      <th style="color: white">%</th>
    </tr>
    </thead>
    <tbody class="tbl-content" *ngFor="let test of tests"  cellpadding="0" style="color: black" cellspacing="0" border="0" style="background-color: #686868">
    <tr>
      <td style="color: grey" width="33%">V{{test._id.family_rank}}: {{test._id.family_description}}</td>
      <td style="color: black">{{test.pass}}</td>
      <td style="color: black">{{test.fail}}</td>
      <td style="color: black">{{test.n_a}}</td>
      <td style="color: black">{{test.percentage}}</td>
    </tr>
    </tbody>
  </table>
  <h1 style="margin-right: auto;margin-left: auto;color: black" >Requirement Status
  </h1>
  <table style="margin-top: 20px"  class="table">
    <thead  style="background-color: #d1d1c7;color: white" class="thead-dark">
    <tr >
      <th style="color: white" width="5%" >ID</th>
      <th style="color: white" width="10%" >MSTG-ID</th>
      <th  style="color: white" width=33%>Detailed Verification Requirement</th>
      <th style="color: white" width="12%" >Status</th>
    </tr>
    </thead>


    <tbody *ngFor="let test of tests" cellpadding="0" style="color: black" cellspacing="0" border="0" style="background-color: #686868" >
    <tr  *ngFor="let tst of test.requ" >
      <td width="5%">{{test._id.family_rank}}.{{tst.requ_rank}}</td>
      <td width="10%">MSTG-{{test._id.family_name}}-{{tst.requ_rank}} </td>
      <td   width=33%>{{tst.requ_desctiption}}</td>

      <td width="12%" >
        <h5 style="background: rgba(71,151,76,0.88)" *ngIf="tst.requRes_pass===true">Pass</h5>
        <h5 style="background: #bf2e28" *ngIf="tst.requRes_pass===false">Fail</h5>
        <h5 *ngIf="tst.requRes_pass===null">N/A</h5>
      </td>

    </tr>

    </tbody>

  </table>

</div>

</div>


